products {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    .header {
        padding: 18px;
    }

    .logo {
        font-size: 17px;
    }

    .menu {
        gap: 20px;
        font-size: 14px;
    }

    .hero {
        min-height: 450px;
        padding: 40px 25px;
    }

    .hero h1 {
        font-size: 55px;
    }

    .products {
        grid-template-columns: 1fr;
    }

    .product-image {
        height: 260px;
    }

    .cart {
        margin: 40px 15px;
    }
}
